<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        This page's not exist
      </p>
    </main>
  </body>
</html>