<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Erreur 500 !</h1>
      <p>
        Erreur serveur. Nous travaillons au rétablissement de la situation.
      </p>
    </main>
  </body>
</html>